@import 'tailwindcss';

/* Color Theme using CSS 4 @theme directive */
@theme {
  --color-primary: #733ca4; /* dark purple */
  --color-secondary: #000000; /* black */
  --color-accent: #22f0c0; /* light green */
  --color-bg-grey: #efefef;
  --color-bg-light: #ffffff;
  /* --color-text: #111827;
  --color-text-muted: #6b7280; */
}

/* Base styles */
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--color-text);
  background-color: var(--color-bg-light);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  /* display: flex;
  place-items: center; */
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--color-bg-light);
  color: var(--color-text);
}
