@import 'tailwindcss';

/* Color Theme using CSS 4 @theme directive */
@theme {
  --color-primary: #733ca4; /* dark purple */
  --color-secondary: #000000; /* black, text */
  --color-accent: #22f0c0; /* light green, CTA */
  /* using gray-300 for darker gray */
  --color-gray-light: #efefef; /* bg gray */
  --color-light: #ffffff; /* bg white */
}

/* Base styles */
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--color-secondary);
  background-color: var(--color-light);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  background-color: var(--color-gray-light);
}
